{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<table border=1>
<thead>

<th>ID</th><th>Title</th><th>Content</th>

</thead>
<tbody>

    {% for i in info %}
    <tr>
    <td>
    {{i.id}}
    </td>
  
    <td>
    {{i.title}}
    </td>
   
 
    <td>
    {{i.content}}
    </td>
    </tr>
    {% endfor %}
    </tr>
 </tbody>   
 </table>   
   

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/symfony/src/Controller/ClientController.php'|file_link(0) }}">src/Controller/ClientController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/symfony/templates/client/index.html.twig'|file_link(0) }}">templates/client/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
